# OS
.DS_Store
Thumbs.db

# Lua
*.luac
luac.out

# LuaRocks
/lua_modules/
/.luarocks/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Node.js
node_modules/
package-lock.json
yarn.lock
bun.lock

# Env
.env
.env.local
.env.*.local

# Fivem
server.cfg

# txData
txData/*.json
txData/*.log
txData/*.history
txData/*.cache
