[submodule "fivem/resources/[shiva]/shiva-core"]
	path = fivem/resources/[shiva]/shiva-core
	url = git@github.com:adrianmejias/shiva-core.git
	branch = main
	update = rebase
[submodule "fivem/resources/[shiva]/shiva-fw"]
	path = fivem/resources/[shiva]/shiva-fw
	url = git@github.com:adrianmejias/shiva-fw.git
	branch = main
	update = rebase
[submodule "fivem/resources/[shiva]/shiva-boot"]
	path = fivem/resources/[shiva]/shiva-boot
	url = git@github.com:adrianmejias/shiva-boot.git
	branch = main
	update = rebase
[submodule "fivem/resources/[shiva]/shiva-db"]
	path = fivem/resources/[shiva]/shiva-db
	url = git@github.com:adrianmejias/shiva-db.git
	branch = main
	update = rebase
[submodule "fivem/resources/[shiva-modules]"]
	path = fivem/resources/[shiva-modules]
	url = git@github.com:adrianmejias/shiva-modules.git
	branch = main
	update = rebase
