[submodule "config/resources/[shiva]/shiva-core"]
	path = config/resources/[shiva]/shiva-core
	url = git@github.com:adrianmejias/shiva-core.git
	branch = main
	update = rebase

[submodule "config/resources/[shiva]/shiva-fw"]
	path = config/resources/[shiva]/shiva-fw
	url = git@github.com:adrianmejias/shiva-fw.git
	branch = main
	update = rebase

[submodule "config/resources/[shiva]/shiva-db"]
	path = config/resources/[shiva]/shiva-db
	url = git@github.com:adrianmejias/shiva-db.git
	branch = main
	update = rebase

[submodule "config/resources/[shiva-modules]"]
	path = config/resources/[shiva-modules]
	url = git@github.com:adrianmejias/shiva-modules.git
	branch = main
	update = rebase
