# Database
ensure shiva-db

# Framework
ensure shiva-core

# All default modules
ensure [shiva-modules]

# Server owner's overrides
ensure [shiva-overrides]

ensure shiva-boot

# Third party
ensure pma-voice
