# Database (pick one)
ensure shiva-db

# Framework
ensure shiva-core

# All default modules
ensure [shiva-modules]

# Server owner's overrides
ensure [shiva-overrides]

# Third party
ensure pma-voice
